<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <hr />
        <h1>New Order Received</h1>
        <hr />
        <h2>Company: <%= @order_info[:company_name] %></h2>
        <p><strong>Order Price: </strong><%= @order_info[:total_price] %></p>
        <a target="_blank" href="https://montez-food-service-web.vercel.app/users/admin/login">Click here to go to the admin page to confirm the order</a>
    </body>
</html>