<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Account Verification</h1>
        <h4>Your account has been successfully created, please follow the instructions below to verify and activate your account.</h4>
        <hr />
        <h2>Account Email: <%= @email %></h2>
    </body>
</html>