<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <hr />
        <h1>New Order Received</h1>
        <hr />
        <h2>Company: <%= @order_info[:company_name] %></h2>
        <p><strong>Order Price: </strong><%= @order_info %></p>
    </body>
</html>