<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Reset Password</h1>
        <h4>Use the code below to continue the process of resetting your password</h4>
        <hr />
        <h2><%=@user.ota_code%></h2>
    </body>
</html>