<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div style="width: 100%; display: flex; align-items: center; justify-content: center">
      <img src="https://montez-food-service-web.vercel.app/static/media/montez-logo.47971a3dcbf00b07ef6d.png" width="200" height="200" alt="Montez Food Service Logo" />
    </div>
    <%= yield %>
  </body>
</html>
